{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "common": "./app/components/common",
        "hooks": "./app/hooks"
      }
    }]
  ]
}
